.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 2px solid
}

.errorMessage {
  color: red;

}
.is-done {
  opacity: 0.5;
}

.error:focus {
  outline: none;
}

.active-filter {
  background-color: rgb(150, 100, 156);
}